output {
  elasticsearch {
    hosts => ["{% for member in groups['elk'] %}{{ hostvars[member]['ansible_default_ipv4']['address'] }}:9200{% if not loop.last %}","{% endif %}{% endfor %}"]
    manage_template => false
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
