# Module: logstash
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.10/metricbeat-module-logstash.html

- module: logstash
  metricsets:
    - node
    - node_stats
  period: 10s
  hosts: ["{% for member in groups['elk'] %}{{ hostvars[member]['ansible_default_ipv4']['address'] }}:9600{% if not loop.last %}","{% endif %}{% endfor %}"]
  username: "{{ elastic_user }}"
  password: "{{ elastic_password }}"
  xpack.enabled: true
  cluster_uuid: {{ cluster_uid }}

#- module: logstash
#  xpack.enabled: true
#  period: 10s
#  hosts: ["localhost:9600"]
#  #username: "user"
#  #password: "secret"
